body
	{
		text-align: center;
		font-family: Arial;
		font-size: 18px;
	}

li
	{
		list-style: none;
		line-height: 2em;
		text-align: left;
	}

.header
	{
		background: #F4F4F4;
		border-bottom-color: #CCCCCC;
		border-bottom-width: 3px;
		border-bottom-style: solid;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
	}

.container
	{
		width: 700px;
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 30px;
		margin-right: 30px;
	}