<table class="table table-striped">
    <thead>
        <tr>
            <th>Department ID</th>
            <th>Department Name</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let dataItem of departmentList">
            <td>{{dataItem.DepartmentID}}</td>
            <td>{{dataItem.DepartmentName}}</td>
            <td><button class="btn btn-light mr-1" type="button">Edit</button><button class="btn btn-light mr-1" type="button">Delete</button></td>
        </tr>
    </tbody>
</table>